@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: poppins-regular;
  src: url(./fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins-thin;
  src: url(./fonts/Poppins/poppins-thin.ttf);
}

@font-face {
  font-family: poppins-bold;
  src: url(./fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: poppins-light;
  src: url(./fonts/Poppins/Poppins-light.ttf);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: poppins;
}

.underline-btn{
  border-bottom: 1.5px solid black;
  color: black;
  padding-bottom: 12px;
}

.btn{
  color: rgb(73, 73, 73);
  border: 1px solid black;
  padding: 15px 70px;
}

.box1{
  background-image: url("./assests/blog-box1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: center;
}

.box2{
  background-image: url("./assests/blog-box2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: center;
}
.box3{
  background-image: url("./assests/blog-box3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  
  border-radius: 10px;
  background-position: center;
}

/* .poppins {
  font-family: var(--poppins);
}

.poppins-thin {
  font-family: poppins-regular;
}

.poppins-thin2 {
  font-family: poppins-thin;
}

.poppins-light {
  font-family: poppins-light;
}

.poppins-bold {
  font-family: poppins-bold;
  /* font-weight: lighter; */
/* } */ 

.bg-insta {
  background-image: url(./assests/instagram-bg.jpeg);
  background-size: cover;
  background-position: center;
}

.shop-herosection {
  background-image: url(./assests/shop-bg.png);
}

.inp {
  border: 1px solid #9f9f9f;
  padding: 20px 15px;
  border-radius: 10px;
}

.btn2 {
  border: 1.5px solid black;
  padding: 15px 30px;
  border-radius: 15px;
}

